{% extends "setup.html" %}

{% block title %}
    BattleShip
{% endblock %}

{% block content %}


<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            {% for i in columns %}
                <th scope="col">{{ i }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for j in rows %}
        <tr>
            <th scope="row">{{ j }}</th>
            {% for i in columns %}
                <td><input id='field' type="checkbox" name="{{ i }}{{ j }}"></td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<br><br>

    <table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            {% for i in columns %}
                <th scope="col">{{ i }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for j in rows %}
        <tr>
            <th scope="row">{{ j }}</th>
            {% for i in columns %}
                <td><input id='field' type="radio" name="{{ i }}{{ j }}"></td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}