{% extends "base.html" %}

{% block title %}
    BattleShip
{% endblock %}

{% block content %}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Witaj w pokoju gry {{ room.user1 }}! </h4>
        <p>Zaproś do pokoju gry znajomego podająć mu ten kod: {{ room.room_number }} </p>
        <p>Utwórz swoje pole bitwy.</p>
        <hr>
        <p>Możesz też opuścić pokój i... przegrać!</p>
        <a  href="{% url 'index' %}"><button type="button" class="btn btn-primary btn-lg">Opuść grę!</button></a>
    </div>
    <br>
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-4">
                <h3>Ustaw swoje statki: </h3>
                <br>
                <div class="align-items-left" style="width: 300px; height: 300px";>
                    <div class="row">
                        <div class="col">
                            <input class="form-check-input" type="checkbox" id="field_A1" value="" aria-label="...">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="0" id="field_A1">
                        </div>
                    </div>
                    <br>
                    <form method="post">
                        {% csrf_token %}
                            <h5>Gotowy?</h5>
                            <input type="submit" value="Zaczynamy!!" class="btn btn-danger">
                    </form>
                </div>
            </div>
            <br>
            <div class="col-4">
                <h3>Statki przeciwnika: </h3>
                    <br>
    <div class="align-items-left" style="width: 300px; height: 300px";>
        <div class="row">
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
        </div><br>
        <div class="row">
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
        </div><br>
        <div class="row">
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
        </div><br>
        <div class="row">
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
        </div><br>
        <div class="row">
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
        </div><br>
        <div class="row">
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
        </div><br>
        <div class="row">
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
        </div><br>
        <div class="row">
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
        </div><br>
        <div class="row">
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
        </div><br>
        <div class="row">
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
            <div class="col">
                <input class="form-check-input" type="checkbox" value="0" id="field_A1">
            </div>
        </div><br>
            </div><form method="post">
        {% csrf_token %}
        <p>
            Potwierdź strzał "{{ field_id }}"
        </p>
        <input type="submit" value="Ognia!!" class="btn btn-danger">
    </form>
        </div>

    </div>

</div>
    <br>

    <div class="container">

    </div>
    </br>

{% endblock %}
