{% extends "base.html" %}

{% block title %}
    BattleShips
{% endblock %}

{% block content %}
    <h1>Witaj w BattleShips!</h1>
    <strong>Najlepsza Gra Wszechczasów!!!</strong><br>
    <a  href="{% url 'game' %}"><button type="button" class="btn btn-primary btn-lg">Zagraj!</button></a>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">1</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
        <label class="form-check-label" for="inlineCheckbox2">2</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">3</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option2">
        <label class="form-check-label" for="inlineCheckbox2">4</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">5</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option2">
        <label class="form-check-label" for="inlineCheckbox2">6</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">7</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox8" value="option2">
        <label class="form-check-label" for="inlineCheckbox2">8</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox9" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">9</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox10" value="option2">
        <label class="form-check-label" for="inlineCheckbox2">10</label>
    </div>

{% endblock %}