{% extends "base.html" %}

{% block title %}
    BattleShip
{% endblock %}

{% block content %}
    <div class="alert alert-danger" role="alert" xmlns="http://www.w3.org/1999/html">

        <h4 class="alert-heading">Ustawienie dodano pomyślnie.</h4>
        <p>Jesteś w pokoju: <b>{{ game_code }}</b></p>
        <p><b>STRZELAJ!</b></p>
        <hr>


        <form action="{% url 'result' game_code %}" method="post" role="form">
            {% csrf_token %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col"></th>
                    {% for i in columns %}
                        <th scope="col">{{ i }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for j in rows %}
                    <tr>
                        <th scope="row">{{ j }}</th>
                        {% for i in columns %}
                            <td><input id='field' type="checkbox" name="shots" value="{{ i }}{{ j }}" onclick="return limiter()"></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div>
                <span id="notvalid" style="color: black"></span>
            </div>
            <script type="text/javascript">

                function limiter() {
                    var a = document.getElementsByName('shots');
                    var newvar = 0;
                    var count;
                    for (count = 0; count < a.length; count++) {
                        if (a[count].checked==true) {
                            newvar = newvar + 1;
                        }
                    }
                    if (newvar >= 11) {
                        document.getElementById('notvalid').innerHTML = "** Proszę wybrać maksymalnie 10 pól!"
                        return false;
                    }
                }

            </script>
            <p>
                Gotowe?
            </p>
            <input type="submit" value="Wyślij strzały!" class="btn btn-danger">
        </form>
    </div>

    <div>
        <a href="{% url 'index' %}">
            <button type="button" class="btn btn-primary btn-lg">Wróć!</button>
        </a>
    </div>

{% endblock %}